// @use "base/variables" as v;
@use "../base/mixins" as mix;




@include mix.tablet { 
    .container{
        width: 40%;
    }
 }
.title {
    margin-bottom: 1rem;
}

.description {
    font-size: 2rem;
    margin-top: 0;
    span{
        display: block;
    }
}



.form {
    width: 100%;
    background-color: white;
    border-radius: 6px;
    transition: all 300ms;
    &:hover  {
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    }

    &__item {
        padding: 2rem 2rem 0rem 2rem;

    }

    &__label {
        display: block;
        margin: 0;
        margin-bottom: 0.3rem;

        font-size: 1.3rem;
        font-weight: 700;


    }

    &__input {
        display: block;
        border: 1px solid #e1e1e1;
        margin: 1rem 0;
        padding: 1rem;
        border-radius: 6px;
        margin: 0;
        width: 100%;
        font-size: 1.3rem;

        &::placeholder{       
            color: #553c9a;
         
        }
    }

    &__btn {
     
        margin-top: 2rem;
        margin-bottom: 2rem;
        background-color: rgb(79 70 229);
        color: white;
        border: 0;
        padding: 1rem;
        font-size: 2rem;
        border-radius: 6px;
        width: 100%;
        text-transform: uppercase;
        font-weight: 700;
        &:hover{
            background-color: #4338ca;
            cursor: pointer;
        }

    }



    
}