// @use "base/variables" as v;
@use "../base/mixins" as mix;


.container{
    // border: 1px solid black;
  
    margin: 0;
    
   

    @include mix.tablet { 
        width: 60%;
        margin-left: 1rem;
     }
}

.title{
    text-align: center;
    margin-bottom: 1rem;
    // margin: 0;

    span{
        display: block;
    }

}

.subtitle{
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
    font-weight: 700;

    span{
        font-weight: 700;

        display: block;
      
    }
}

