.indigo {
    color: rgb(79 70 229);
}

.border {
    border: 1px solid red;
}

.bold-700 {
    font-weight: 700;
}

.center {
    text-align: center;
}

.shadow {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.white{
    color : white
}


/* .shadow-dark{
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
} */